<%= form_for @recipe do |f| %>
    <%= f.label :title, 'Título' %>
    <p><%= f.text_field :title %></p>
    <%= f.label :recipe_type, 'Tipo da Receita' %>
    <p><%= f.text_field :recipe_type %></p>
    <%= f.label :cuisine_id, 'Cozinha' %>
    <p><%= f.collection_select :cuisine_id, @cuisines, :id, :name %></p>
    <%= f.label :difficulty, 'Dificuldade' %>
    <p><%= f.text_field :difficulty %></p>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <p><%= f.number_field :cook_time %></p>
    <%= f.label :ingredients, 'Ingredientes' %>
    <p><%= f.text_area :ingredients %></p>
    <%= f.label :cook_method, 'Como Preparar' %>
    <p><%= f.text_area :cook_method %></p>
    <%= f.label :photo, 'Foto' %>
    <p><%= f.file_field :photo %></p>
    <%= f.submit 'Enviar' %>
  <% end %>

<p><%= render "support/search_form" %></p>
